$preferred_font: 'Poppins', sans-serif;

$primary-color: #17bbef;
$primary-color-600: #0d9bc7;
$primary-color-100: #e8f9ff;

$white-color: #ffffff;

$text-smoke: #f5f5f5;
$text-light: #f4f0ff;
$main-bg: #000c14;

//Font-sizes
$font-size-small: 10px;
$font-size-small--lite-0: 11px;
$font-size-small--lite: 11px;
$font-size-small--lite-1: 12px;
$font-size-small--lite-2: 14px;
$font-size-medium: 16px;
$font-size-medium--lite: 18px;
$font-size-medium--lite-1: 20px;
$font-size-medium--lite-2: 22px;
$font-size-large: 24px;
$font-size-large--lite: 26px;
$font-size-large--lite-1: 32px;
$font-size-large--lite-2: 28px;
$font-size-large--lite-2-1: 30px;
$font-size-large--lite-3: 33px;
$font-size-large--lite-4: 38px;
$font-size-large--lite-5: 40px;
$font-size-large--lite-6: 45px;
$font-size-large--lite-7: 54px;
$font-size-large--lite-x: 68px;

//font-weight

$font-weight-lite: 400;
$font-weight-lite--1: 500;
$font-weight-bold: 600;
$font-weight-bold--1: 700;
